const API_URL = 'http://localhost:5000/api/';
const AUTHORIZATION_URL = 'http://localhost:5001/';
const CLIENT_SECRET = 'encoded_secret';

module.exports = {
    apiUrl: API_URL,
    authorization: TOKEN_TYPE + ACCESS_TOKEN,
    authentication: {
        apiUrl: AUTHORIZATION_URL,
        authorization: 'Basic ' + CLIENT_SECRET,
        grantType: 'password',
        scope: 'api',
        username: 'admin',
        password: 'admin',
    }
}
